.abbr {
    color: #999;
}

.additional-info {
    background-color: #007aff;
    border-radius: .5em;
    color: #fff;
    display: inline-block;
    margin-left: .25em;
    padding: 0 .5em;
}

.additional-info_warning {
    background-color: orange;
}

.additional-info_success {
    background-color: #4a5;
}

.additional-info__stars {
    background-color: #fff;
    color: #ccc;
}

.item-title-main {
    font-weight: bold;
}

a.item-content {
    color: inherit
}

.subline {
    font-size: .75em;
    margin: .5em 0;
}

.call-action {
    text-align: center;
}

.call-action_phone {
    font-size: 2em;
}

.page_call {
    background: url('call.png') no-repeat center;
    background-size: cover;
}

.call-action_return {
    display: block;
    height: 100%;
    width: 100%;
}

.card-content-inner {
    font-size: 1.25em;
}

.hidden {
    display: none;
}

.content-block__center {
    text-align: center;
}

.content-block__icon {
    color: #4a5;
    font-size: 10em;
    margin: 0;
}

.content-block__title {
    font-size: 2em;
    margin: 0;
}

.panel {
    background-color: #383744;
}

.panel .list-block {
    font-size: 1em;
}

.panel .list-block ul {
    background-color: inherit;
    color: #eee;
}

.panel .list-block ul:before, .panel .list-block ul:after {
    background-color: inherit;
}

.panel .content-block {
    color: #eee;
}

.avatar {
    background-image: url('https://staff.skbkontur.ru/api/images/150-150-300/6a648eee-2edc-4d0e-97f8-9e15b752d70e/dsc05583.jpg?size=m&avatar=true');
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    width: 75px;
    height: 75px;
}