.abbr {
    color: #999;
}

.additional-info {
    background-color: #007aff;
    border-radius: .5em;
    color: #fff;
    display: inline-block;
    margin-left: .25em;
    padding: 0 .5em;
}

.additional-info_warning {
    background-color: orange;
}

.additional-info_success {
    background-color: green;
}

.additional-info__subtle {
    background-color: #fff;
    color: #999;
}

.item-title-main {
    font-weight: bold;
}

a.item-content {
    color: inherit
}

.subline {
    font-size: .75em;
    margin: .5em 0;
}

.call-action {
    text-align: center;
}

.call-action_phone {
    font-size: 2em;
}

.service-title, .success_title {
    text-align: center;
    font-size: 1.5em
}

.page_call {
    background: url('call.png') no-repeat center;
    background-size: cover;
}

.call-action_return {
    display: block;
    height: 100%;
    width: 100%;
}

.card-content-inner {
    font-size: 1.25em;
}

.hidden {
    display: none;
}

.content-block__center {
    text-align: center;
}